
body {
    background-color: #ccc;
}
.id-card {
    width: 600px;
    margin: 0px auto;
    font-family: 'verdana';
    box-shadow: 0 0 1.5px 0px #b9b9b9;
    border-radius: 12px;
    overflow: hidden;
    background-image: url("idcard_bg.png");
}

.hamropem p {
    font-size: 16px !important;
    margin-bottom: 0px !important;
    color: black;
}
footer p {
    font-size: 10px;
    margin-bottom: 0px !important;
}